.app-footer{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-style: italic;
    user-select: none;
    font-size: small;
}

.repo-link{
    text-decoration: none;
    color: blueviolet;
}
