section {
    padding: 15px;
}

.d-flex {
    max-width: 300px;
}

.social-link {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color-translucent);
    padding: 10px;
    user-select: none;
    transition: 0.3s;
}

.social-link:hover,
.social-link.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #0B0F14;
}
