section {
    padding: 15px;
}

.d-flex {
    max-width: 300px;
}

.social-link {
    background-color: #fff;
    color: #282828;
    padding: 10px;
    user-select: none;
    transition: 0.3s;
}

.social-link:hover,
.social-link.active {
    background-color: #262626;
    color: #fff;
}
